<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NotesSimplified | A One Stop Destination for Notes</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/slider.css" />
    <link rel="stylesheet" href="../static/aboutus.css" />
    <link rel="stylesheet" href="../static/contactus.css" />
    block script 
    block style
  </head>
  <body>
    <nav class="navbar background h-nav">
      <div class="logo">
        <a href="" ><img src="../static/img/logo.png" alt="NotesSimplified"/></a>
      </div>
      <ul class="nav-list v-class">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/notes">Notes</a>
        </li>
        <li>
          <a href="/notes">Add Notes</a>
        </li>
        <li>
          <a href="#about-section">About Us</a>
        </li>
        <li>
          <a href="#contactUsContainer">Contact Us</a>
        </li>
      </ul>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
    block  content 
    <footer>
      <p class="copyright-container">
        Copyright &copy; 2022 NotesSimplified - All rights reserved
      </p>
    </footer>

    <script src="../static/contactus.js"></script>
    <script src="../static/slider.js"></script>
    <script src="../static/burger.js"></script>
  </body>
</html>
