extends base.pug 

block script 

block style 
    style 
        include ../static/notes.css 

block content
    <a href="/login" class="btnlogin">Log in</a>
    //- <div class="image">
    //-     <img src="../static/img/coming.gif" alt="coming soon">
    //- </div>
    <div class="notes">
        <a href="https://drive.google.com/file/d/1iEplrWB7d6TrqPzFEQrxp9Ngki9HUgW1/view?usp=sharing" target="_blank"><div class="topics">OOPS</div></a>
        <a href="https://drive.google.com/file/d/1KrUmzYGggwC-nx6QygpsxIwGS79-sO2h/view?usp=sharing" target="_blank"><div class="topics">C</div></a>
        <a href="https://drive.google.com/file/d/1TtqulyVf7L-SAo-3gFoOFrkaXmMhe0wh/view?usp=sharing" target="_blank"><div class="topics">C++</div></a>
        <a href="https://drive.google.com/file/d/1nm3xlJDqs4g7LOvDBGzph75DB4quKls1/view?usp=sharing" target="_blank"><div class="topics">JAVA</div></a>
        <a href="https://drive.google.com/file/d/1gWXq8UCb38q3Xc8nIqRmeO8NT7fPpVYo/view?usp=sharing" target="_blank"><div class="topics">HTML</div></a>
        <a href="https://drive.google.com/file/d/1aSqmH12BiZUZXJFDHbDWxqR-lwHLpWgU/view?usp=sharing" target="_blank"><div class="topics">JavaScript</div></a>
        <a href="https://drive.google.com/file/d/1m_Ak9PEkhAlRlMIbt0gLhq3J1DkDyLs9/view?usp=sharing" target="_blank"><div class="topics">CSS</div></a>
        <a href="https://drive.google.com/file/d/1X5hTCTxj7rmahOo86wSVVAEl9AXG49VI/view?usp=sharing" target="_blank"><div class="topics">Nodejs</div></a>
        <a href="https://drive.google.com/file/d/1FeV0QmrgoDL80D0PfZ5o9-vyMIB-YKh7/view?usp=sharing" target="_blank"><div class="topics">DBMS</div></a>
        <a href="https://drive.google.com/file/d/1AUeqKpbcpwKP2sSND3Lpc1bNYl34Zec1/view?usp=sharing" target="_blank"><div class="topics">Python</div></a>
        <a href="https://drive.google.com/file/d/1LTahx2PbKu--gT5tJOYXJeq1hSegP_0R/view?usp=sharing" target="_blank"><div class="topics">React Js</div></a>
        <a href="https://drive.google.com/file/d/1jAwD0Bbx9Ccl8Yp6NPdIlxE_Gj2fDvQ6/view?usp=sharing" target="_blank"><div class="topics">DSA</div></a>
        <a href="https://drive.google.com/file/d/1lH99mwoWHs-BC71HBrkz5h9W7kgjtN19/view?usp=sharing" target="_blank"><div class="topics">Web Tech</div></a>
        <a href="https://drive.google.com/file/d/1Fxhs9x6hYuWGQDupY9mtYA9KU0-Keefj/view?usp=sharing" target="_blank"><div class="topics">Angular js</div></a>
        <a href="https://drive.google.com/file/d/1V62Appqh0J8y8kpYUhBO5HNBkLHBhVGU/view?usp=sharing" target="_blank"><div class="topics">Rest API</div></a>
        <a href="https://drive.google.com/file/d/1zlVYPn4b4bTWrPBhnDYEyhRRlGkgxP6h/view?usp=sharing" target="_blank"><div class="topics">Mongo DB</div></a>
        <a href="https://drive.google.com/file/d/1msjS9kgIGhUGPlZGm8B65HZnuWUgPN70/view?usp=sharing" target="_blank"><div class="topics">Express Js</div></a>
    </div>