extends base.pug 

block script 

block style 
    style 
        include ../static/notes.css 

block content
    <a href="/login" class="btnlogin">Log in </a>
    <div class="image">
        <img src="../static/img/coming.gif" alt="coming soon">
    </div>