extends base.pug 

block script 

block style 
    style 
        include ../static/notes.css 

block content
    <a href="/login" class="btnlogin">Log in</a>
    //- <div class="image">
    //-     <img src="../static/img/coming.gif" alt="coming soon">
    //- </div>
    <div class="bca">
        <div class="sem">1<sup>st</sup> SEMESTER</div>
        <div class="sem">2<sup>nd</sup>SEMESTER</div>
        <div class="sem">3<sup>rd</sup>SEMESTER</div>
        <div class="sem">4<sup>th</sup>SEMESTER</div>
        <div class="sem">5<sup>th</sup>SEMESTER</div>
        <div class="sem">6<sup>th</sup>SEMESTER</div>
    </div>