body{
    background-image: url(../static/img/background2.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
.login_main{
    /* border: 2px solid black; */
    display: flex;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 78.1vh;
    z-index: 1;


}
h2{
    margin-bottom: 15px;
}
.login{
    /* border: 2px solid green; */
    background-color: rgba(49, 27, 33, 0.55);
    border-radius:15px;
    width: 450px;
    height: 65%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 19px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

input {
    width: 300px;
    outline: none;
    border: 1.5px solid black;
    /* background: none; */
    padding: 0.2rem 1.2rem;
    color: black;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
    margin: 7px;
  }
  .login_btn{
    display: flex;
    flex-direction: row;
    margin: 5px;
    margin-top: 20px;
}
.btn-login{
    /* background: none; */
    border-color: #1abc9c;
    padding: 5px 10px;
    margin: 7px;
    /* color: black; */
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    /* height: 30px; */
}
.btn-login:hover{
    background-color:#1abc9c;
}
.signup {
    /* text-decoration: none; */
    font-size: 18px;
    color: rgb(29, 28, 28);
    
}
.signup:hover{
    color: black;
    text-shadow:0 0 15px rgba(0,0,0,0.5) ;

    
}
.copyright-container{
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 2;
}