.btnlogin{
    font-size: 18px;
    color: rgb(73, 73, 73);
    text-shadow:0 0 15px rgba(0,0,0,0.5) ;
    z-index: 10;
    position: absolute;
    right: 10px;
}
.btnlogin:hover{
    color: black;
    font-weight: bold;
    
}
.copyright-container{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.image{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}