*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-list{
    display: flex;
    margin-top: 10px;
    width: 70%;
    justify-content: center;
}

.nav-list li {
    display: flex;
    list-style: none;
    padding: 0px 25px 9px 25px;
}

.nav-list li a {
    text-decoration: none;
    font-size: 20px;
    /* color: #a0a0a0; */
    color: rgba(41, 5, 65, 0.973);
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
    /* transition: all .3s ease-in-out; */  
}
.nav-list li a::after{
    content: "";
    position: absolute;
    /* background-color: #ff3c78; */
    background-color: rgba(41, 5, 65, 0.973);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.5s ease-in-out;
}

.nav-list li a:hover::after{
    width: 100%;
}
.nav-list li a:hover {
    /* color: #ffffff; */
    color: rgba(41, 5, 65, 1);
    /* transform: scale(1.2); */

}
.logo{
    width: 30%;
    text-align: center;
    margin-top: 8px;
}
.logo img{
    width: 70%;  
}

.background{
    background: linear-gradient(to right, rgb(255, 0, 174), rgb(0, 255, 213));
    /* background-color: black; */
}